
<h1>Genre: @Model["category"].GetGenre()</h1>
<h2>Title : @Model["item"].GetTitle()</h2>
<h2>Artist : @Model["item"].GetArtist()</h2>


<a href='/categories/@Model["category"].GetId()/items/new'>Add another item</a>
<a href='/categories'>View all categories</a>
