<h1>Add a Genre</h1>
<p>Add a Genre here:</p>

<form action="/categories" method="post">
  <label for="genre">Genre name</label>
  <input id="genre" name="genre" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/categories">Back home</a></p>
<p><a href="/categories">Back to Genre's.</a></p>
